<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="PROJECT_NAME" value="study-springboot-mvc"/>
    <property name="LOG_HOME" value="/xdfapp/logs/${PROJECT_NAME}"/>
    <!--
        （1）%X{testKey:-aa}  ：输出testKey所对应的value，默认为aa
        （2）%replace(p){r, t}：p 为日志内容，r 是正则表达式，将p 中符合r 的内容替换为t
    -->
    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss} [%ip] [%thread] [%5level] [%class{1}:%line] [%X{trace_key:-}] - %m%n" />
    <!-- 配置转换规则 -->
    <conversionRule conversionWord="ip" converterClass="study.springboot.mvc.support.log.IPConverter"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/web.log</file>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/web.log.%d{yyyy-MM-dd}</fileNamePattern>
            <MaxHistory>7</MaxHistory>
        </rollingPolicy>
    </appender>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>
    <springProfile name="test">
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>
</configuration>